- content_for(:title, "Pools")

- if @pools.empty?
  %p You are not a member of any tournament pools.
- else
  .pools= render @pools

.invite
  = link_to "Enter Invite Code", invite_code_path, class: :button