- content_for(:title) do
  - if params[:archived]
    Archived Pools
  - else
    Pools

- if @pools.empty?
  %p You are not a member of any tournament pools.
- else
  .pools= render @pools

.actions
  - if params[:archived]
    = link_to pools_path, class: :button do
      %i.fa.fa-arrow-left
      Current Pools
  - else
    = link_to "Enter Invite Code", invite_code_path, class: :button
    = link_to "Previous Years", pools_path(archived: true), class: [:button, :minor]