- content_for(:title) do
  Archived Pools

- if @pools.empty?
  %p You are not a member of any tournament pools.
- else
  .pools= render @pools

.actions
  = link_to pools_path, class: :button do
    %i.fa.fa-arrow-left
    Current Pools
