%h2 Types of Payment

%section#cash
  %h3 Cash
  %p
    Cash in person is by far the easiest option. Note that because of lack of payment by some entries last year,
    %strong you must pay an admin in person before tip off or your entry will be voided.

%section#credit-card
  %h3 Credit Card
  %p
    We accept all major credit cards. Just select "Pay with Credit Card" on #{link_to "your brackets", pool_brackets_path(@pool)} page.

%section#paypal
  %h3 Paypal
  %p
    If you wish to pay by PayPal, just email an administrator and they'll send you a payment request to complete on PayPal.
