<div id="content-wrapper">
  <div id="table">

    <!-- Table Dates -->
    <table class="gridtable">
      <tr>
        <th class="round_1 current"> 1st ROUND </th>
        <th class="round_2 "> 2nd ROUND </th>
        <th class="round_3"> SWEET 16 </th>
        <th class="round_4"> ELITE EIGHT </th>
        <th class="round_5"> FINAL FOUR </th>
        <th class="round_6"> CHAMPION </th>
        <th class="round_5"> FINAL FOUR </th>
        <th class="round_4"> ELITE EIGHT </th>
        <th class="round_3"> SWEET 16 </th>
        <th class="round_2"> 2nd ROUND </th>
        <th class="round_1 current"> 1st ROUND </th>
      </tr>
      <tr>
        <td class="current"> March 21-22 </td>
        <td> March 23-24 </td>
        <td> March 28-29 </td>
        <td> March 30-31 </td>
        <td> April 6 </td>
        <td> April 8 </td>
        <td> April 6 </td>
        <td> March 30-31 </td>
        <td> March 28-29 </td>
        <td> March 23-24 </td>
        <td class="current"> March 21-22 </td>
      </tr>
    </table>
  </div>

  <!-- Bracket -->
  <div id="bracket">
    <% (1..6).to_a.each do |round_num| %>
        <%= render :partial => 'round', :locals => {:round_num => round_num, :bracket => (bracket ||= nil)} %>
    <% end %>
    <div id="tie-breaker" class="pagination-centered"><span id="tie-breaker-static">Tie Breaker: <%= bracket.tie_breaker || 'None' %></span></div>
  </div>

</div>




