- num_rounds = @tournament.num_rounds
.bracket
  %div{class: "bracket-body #{num_rounds == 4 ? 'sweet-16' : 'field-64'}"}
    - num_rounds.times do |round_num|
      = render partial: "brackets/round", locals: { round_num: round_num + 1 }
    = render partial: "brackets/championship"
    - if @bracket
      .tie-breaker
        Tie Breaker: #{@bracket.tie_breaker || "None"}
