.bracket
  .bracket-heading
    %table.gridtable
      %tr
        %th.round_1 1st ROUND
        %th.round_2 2nd ROUND
        %th.round_3 SWEET 16
        %th.round_4 ELITE EIGHT
        %th.round_5 FINAL FOUR
        %th.round_6 CHAMPION
        %th.round_5 FINAL FOUR
        %th.round_4 ELITE EIGHT
        %th.round_3 SWEET 16
        %th.round_2 2nd ROUND
        %th.round_1 1st ROUND
      %tr
        %td March 20-21
        %td March 22-23
        %td March 27-28
        %td March 29-30
        %td April 5
        %td April 7
        %td April 5
        %td March 29-30
        %td March 27-26
        %td March 22-23
        %td March 20-21
  .bracket-body
    - (1..6).to_a.each do |round_num|
      = render :partial => 'brackets/round', :locals => {:round_num => round_num, :bracket => (bracket ||= nil)}
    - if defined?(bracket) && bracket.present?
      .tie-breaker
        Tie Breaker: #{bracket.tie_breaker || 'None'}