
<h3>Brackets (<%= Bracket.count %> total)</h3>
<div class="span12">
  <% unless Pool.started? %>
    <p><strong>*All brackets in pool will be displayed after tournament start</strong></p>
  <% end %>

  <%= render :partial => 'brackets/brackets', :locals => {:brackets => @brackets} %>

  <% if can?(:create, Bracket) && !Pool.started? %>
    <div class="pagination-centered">
      <%= link_to "New Bracket Entry", brackets_path, :method => :post, :class => 'btn btn-primary' %>
    </div>
  <% end %>

</div>

<% if Pool.started? %>
<script type="text/javascript">
  function highlight_bracket(bracket_id) {
    $('#bracket-row-' + bracket_id).addClass('current-bracket-row');
  }

  function user_bracket_highlight() {
      $.ajax({
        url: '/brackets/current_user_bracket_ids.json',
        success: function(data, textStatus, jqXHR) {
            for(var i = 0; i < data.length; i++) {
                highlight_bracket(data[i]);
            }
        }
      })
  }

  $(document).ready(function() {
      user_bracket_highlight();
  });

</script>
<% end %>
