
<h3>Brackets (<%= Bracket.count %> total)</h3>
<div class="span12">
  <% if Pool.started? %>
      <% cache('all_brackets') do %>
        <%= render :partial => 'brackets/brackets', :locals => {:brackets => @brackets} %>
      <% end %>
  <% else %>
    <p><strong>*All brackets in pool will be displayed after tournament start</strong></p>
      <%= render :partial => 'brackets/brackets', :locals => {:brackets => @brackets} %>
  <% end %>

  <% if can? :create, Bracket %>
    <div class="pagination-centered">
      <%= link_to "New Bracket Entry", brackets_path, :method => :post, :class => 'btn btn-primary' %>
    </div>
  <% end %>

</div>
