!!!
%html
  %head
    %title
      = @bracket.name
      Bracket
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "/favicon.png", :rel => "shortcut icon", :type => "image/png"}/
  %body.bracket
    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              %h3.pagination-centered
                = @bracket.name
                Bracket
              = render @bracket
