#{$all-button-inputs},
button,
.button,
input[type="submit"] {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  //mobile
  width: 100%;
  max-width: 350px;
  text-align: center;
  margin-bottom: $gutter / 2;


  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.danger {
    background-color: $red;
  }

  &.minor {
    background-color: #FFF;
    border: 1px $action-color solid;
    color: $action-color;
  }
}

.actions, .other-actions, .form-actions {
  padding: $gutter 0;
  margin: 0 auto;
  text-align: center;
}
