<% content_for :head do %>
    <link href="/stylesheets/woody-landing.css" rel="stylesheet">
    <!-- Google Web Font-->
    <link href='https://fonts.googleapis.com/css?family=Dosis:300,400,600' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<% end %>

<div id="box" class="span7 offset2">
  <h1 class="bold">Pool Madness
  <h1>NCAA March Madness</h1>
  <h3>Private pool. <%= link_to 'Login Now', new_user_session_path %> or <%= mail_to ENV['ADMIN_EMAIL'], 'Email Us' %></h3>
  <h5><small>&copy; 2013 Pool Madness</small></h5>
</div>