<section id="overview">
  <div class="page-header">
    <h1>Types of Payment</h1>
  </div>
  <p>
    Each bracket entry in the pool has a $10 entry fee. The options are described in detail below.
  </p>
  <p>
    These methods assume trust that the proverbial "check is in the mail". We're all friends here. Filling out
    a bracket assumes you've agreed to pay the entry fee before the tournament starts. In some circumstances that's not
    possible. Therefore, <strong>if you need extra time you must make arrangements with a pool administrator</strong>.
    Failure to make good on the arrangement will result in removal of the bracket from the pool and potential ban from
    future pools.
  </p>
</section>
<section id="cash">
  <h2>Cash</h2>
  <p>
    Cash in person is by far the easiest option. Note that because of lack of payment by some entries last year,
    <strong>you must pay an admin in person before tip off or your entry will be voided.</strong>
  </p>
</section>
<section id="credit-card">
  <h2>Credit Card</h2>
  <p>
    We accept all major credit cards. Note, the processing company charges us $0.61 per bracket which we add to the
    amount charged. Just select "Pay with Credit Card" on <%= link_to "your brackets", brackets_path %> page.
  </p>
</section>
<section id="bitcoin">
  <h2>Bitcoin</h2>
  <p>
    Bitcoin is an electronic currency that makes cash transactions easy and fee free on the internet. This is the only
    form of electronic payment accepted on Pool Madness.
  </p>
  <p>
    The process of funding a Bitcoin account is similar to PayPal.
  <ol>
    <li>Get a bitcoin wallet. We recommend <%= link_to "Coinbase", "http://coinbase.com" %></li>
    <li>Link your bank account to your Coinbase account</li>
    <li><%= link_to 'Buy bitcoin', 'https://coinbase.com/buys' %> with your Coinbase account (4 day hold)</li>
    <li>Select "Pay with Bitcoin" on <%= link_to "your brackets", brackets_path %> detail page</li>
  </ol>
  </p>
  <p>
    Having a bitcoin account also makes it easy to collect any winnings from the pool. We can deposit money into your
    account within minutes of the tournament ending.
  </p>
  <p>
    <strong>If you need time for your transfer to coinbase to complete let one of the admins know and we'll mark you as paid.</strong>
  </p>
</section>
<section id="paypay">
  <h2>Paypal</h2>
  <p>
    If you wish to pay by PayPal, just email an administrator and they'll send you a payment request to complete on PayPal.
  </p>
</section>