<h1>Rules and Scoring</h1>

<div class="span6 offset2">
<h2>Pool Settings</h2>

<dl class="dl-horizontal">
  <dt>Entry Amount</dt>
  <dd>$10.00</dd>
  <dt>Tiebreaker</dt>
  <dd>Points in final game</dd>
  <dt>Seed reward?</dt>
  <dd>Yes</dd>
  <dt>Entry Deadline</dt>
  <dd>Thursday, March 21, 2013 at 12:00pm Eastern</dd>
</dl>

<h2>Prizes</h2>

<dl class="dl-horizontal">
  <dt>First Place</dt>
  <dd>70%</dd>
  <dt>Second Place</dt>
  <dd>20%</dd>
  <dt>Third Place</dt>
  <dd>10%</dd>
</dl>

<h2>Scoring</h2>

<table class="table table-condensed table-striped">
  <thead><tr><th>Round</th><th>Points per Game</th></tr></thead>
  <tbody>
  <tr><td>First</td><td>1 + Seed Number</td></tr>
  <tr><td>Second</td><td>2 + Seed Number</td></tr>
  <tr><td>Third</td><td>3 + Seed Number</td></tr>
  <tr><td>Fourth</td><td>5 + Seed Number</td></tr>
  <tr><td>Fifth</td><td>8 + Seed Number</td></tr>
  <tr><td>Sixth</td><td>13 + Seed Number</td></tr>
  </tbody>
</table>

<p>
  For all correct picks you get that round's points <em>plus</em> the seed number of the team. So, if you pick the 10th-seed
  team to win the 3rd-round, that would be 13 points if correct.
</p>

<h2>Tie Breaker</h2>

  <p>In case of a tie will broken in the following order</p>
  <ol>
    <li>Closest "tiebreaker" to the total score (both teams) added together in the final game</li>
    <li>Correct team picked for winner</li>
    <li>Correct overall number of picks</li>
  </ol>
  <p>If two brackets are still tied after this, they split the winnings.</p>


<h2>Administrators</h2>

<ul>
  <% User.with_role(:admin).each do |user| %>
    <li><%= mail_to user.email, user.name %></li>
  <% end %>
</ul>
    </div>