<h1>Possible Outcomes</h1>

<h3>Louisville beats Michigan</h3>
<ol>
<li>Jim Croom 1</li>
<li>JWeave</li>
<li>jweave sr</li>
</ol>

<h3>Michigan beats Louisville</h3>
<ol>
<li>Jim Croom 1</li>
<li>Ben Beard</li>
<li>JWeave</li>
</ol>

<h3>Louisville beats Syracuse</h3>
<ol>
<li>Jim Croom 1</li>
<li>Megan Evans 2</li>
<li>JWeave</li>
</ol>

<h3>Syracuse beats Louisville</h3>
<ol>
<li>Jim Croom 1</li>
<li>Mike Phinney</li>
<li>Phillip Ryan</li>
</ol>

<h3>Wichita State beats Michigan</h3>
<ol>
<li>Jim Croom 1</li>
<li>Ben Beard</li>
<li>JWeave</li>
</ol>

<h3>Michigan beats Wichita State</h3>
<ol>
<li>Ben Beard</li>
<li>Jim Croom 1</li>
<li>JWeave</li>
</ol>

<h3>Wichita State beats Syracuse</h3>
<ol>
<li>Jim Croom 1</li>
<li>Ben Beard</li>
<li>Mike Phinney OR Patrick Lambros (Tiebreaker)</li>
</ol>

<h3>Syracuse beats Wichita State</h3>
<ol>
<li>Jim Croom 1</li>
<li>Ben Beard</li>
<li>Mike Phinney OR Patrick Lambros (Tiebreaker)</li>
</ol>

