%h1 Possible Outcomes
%h3 Louisville beats Michigan
%ol
  %li Jim Croom 1
  %li JWeave
  %li jweave sr
%h3 Michigan beats Louisville
%ol
  %li Jim Croom 1
  %li Ben Beard
  %li JWeave
%h3 Louisville beats Syracuse
%ol
  %li Jim Croom 1
  %li Megan Evans 2
  %li JWeave
%h3 Syracuse beats Louisville
%ol
  %li Jim Croom 1
  %li Mike Phinney
  %li Phillip Ryan
%h3 Wichita State beats Michigan
%ol
  %li Jim Croom 1
  %li Ben Beard
  %li JWeave
%h3 Michigan beats Wichita State
%ol
  %li Ben Beard
  %li Jim Croom 1
  %li JWeave
%h3 Wichita State beats Syracuse
%ol
  %li Jim Croom 1
  %li Ben Beard
  %li Mike Phinney OR Patrick Lambros (Tiebreaker)
%h3 Syracuse beats Wichita State
%ol
  %li Jim Croom 1
  %li Ben Beard
  %li Mike Phinney OR Patrick Lambros (Tiebreaker)
