body {
  margin: 0;
  padding: 0;
}

#content {
  @include clearfix;
  @include outer-container;

  .wrapper {
    margin: 25px;
  }
}

header {
  background-image: image-url('wood_pattern.png');
  box-shadow: 0px 2px 2px #CCC;

  position: relative;
  width: 100%;
  height: 50px;
  margin: 0;

  .menu, .title-wrapper {
    background-color: rgba(249, 248, 242, 0.15);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .title {
    a {
      font-family: 'Dosis', sans-serif;
      font-weight: 600;
      font-size: 25px;
      color: #FF530D;
      text-shadow: 1px 1px 2px rgba(138, 119, 0, 0.6);
      filter: dropshadow(color=rgba(138, 119, 0, 0.6), offx=1, offy=1);
    }

    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.page-title {
  display: block;
  width: 100%;
  //padding-bottom: $gutter / 2;
  //border-bottom: 1px solid $medium-gray;

  h2 {
    padding: 0;
    display: block;
    margin: $gutter 25px;
  }
}

footer {
  margin-bottom: 25px;
}


.sliding-panel-content {
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $sliding-panel-border-color: $dark-gray;
  $sliding-panel-background: lighten($sliding-panel-border-color, 5%);
  $sliding-panel-color: #fff;
  $sliding-panel-border: 1px solid $sliding-panel-border-color;
  $sliding-panel-background-hover: $action-color;
  $sliding-panel-color-hover: #fff;
  $sliding-panel-background-focus: lighten($sliding-panel-background, 5%);

  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all 0.25s linear);
  background: $sliding-panel-background;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li a {
    border-bottom: $sliding-panel-border;
    color: $sliding-panel-color;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;

    &:focus {
      background-color: $sliding-panel-background-focus;
    }

    &:hover {
      background-color: $sliding-panel-background-hover;
      color: $sliding-panel-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: black;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-button {
  display: block;
  color: #7C7C7C;
  font-size: larger;
  padding: 12px 20px;
}