<p>Howdy,</p>

<p>
  It's time to fill out your bracket for the <%= ENV['TOURNEY_NAME'] %>! Sign up and fill out your picks here:
</p>

<p>
  <%= ENV['SIGNUP_LINK'] %>
</p>

<p>All entries are $10 and must be paid by this Thursday at Noon Eastern. Cash and all major credit cards accepted.</p>

<p>Good Luck!</p>
