.brackets-controller {

  &.index-action {
    table {
      font-size: 0.9em;
      table-layout: auto;
    }

    h3 {
      font-size: small;
      padding-bottom: 25px;

    }

    .actions {
      padding-top: 25px;

      .payment {
        display: inline-block;
        float: right;
      }
    }
  }

  &.show-action {
    .wrapper { min-width: 1024px; }
  }

  &.edit-action {
    .wrapper { min-width: 1024px; }
    .slot {
      cursor: pointer;
      &:hover { background-color: #D6F5FF; }
    }

    h2 { color: $red; }

    .tie-breaker { display: none; }
    .champion-box .seed { display: none; }

    .destroy {
      display: inline-block;
      float: right;
    }
  }
}