.brackets-controller {
  &.edit-action {
    .slot {
      cursor: pointer;
      &:hover { background-color: #D6F5FF; }
    }

    h3 { color: #c52000; }

    .tie-breaker { display: none; }
    .champion-box .seed { display: none; }
  }
}