.brackets-controller {

  &.index-action {
    .wrapper {
      margin: 0 !important;
    }

    .brackets {
      a {
        display: block;
        color: $base-font-color;
        border-top: 1px solid $medium-gray;
        &:last-child {
          border-bottom: 1px solid $medium-gray;
        }
      }
    }

    .bracket-attributes {
      .position {
        margin: 0 $gutter/2;
        position: relative;
        top: 0%;
        transform: translateY(-50%);
      }
    }

    .bracket-row {
      div {
        display: inline-block;
      }

      .final-four-teams {
        //display: block;
        display: none;
        font-size: 0.9em;
      }

      .name {
        //font-size: large;
        font-weight: bold;
      }

      .points {
        display: block;
        font-size: 0.9em;

        .total::after {
            content: " points /";
        }

        .possible::after {
          content: " possible";
        }
      }

      padding: ($gutter/2) 0;
    }

    .current-user-bracket {
      background-color: $light-blue;
    }
  }

  //&.show-action {
  //  .wrapper { min-width: 1024px; }
  //  .eliminated {
  //    text-decoration: line-through;
  //    color: $middark-gray;
  //  }
  //
  //  .correct-pick {
  //    //background-color: lightyellow;
  //    font-weight: 500;
  //    background-color: $light-blue;
  //  }
  //  .round1 {
  //    .eliminated {
  //      text-decoration: none;
  //      color: $dark-gray;
  //    }
  //  }
  //}

  &.edit-action {
    .wrapper { min-width: 1024px; }
    .slot {
      cursor: pointer;
      &:hover { background-color: #D6F5FF; }
    }

    h2 { color: $red; }

    .tie-breaker { display: none; }
    .champion-box .seed { display: none; }

    .destroy {
      display: inline-block;
      float: right;
    }
  }
}