.edit-game {cursor: hand; cursor: pointer;}
.edit-game:hover {background-color: #D6F5FF;}
.games-controller {
  &.index-action {
    .tie-breaker {
      display: none;
    }
  }
}

main#outer-container section#content {
  .games {
    padding-top: $gutter * 2;
  }
}