.edit-game {cursor: hand; cursor: pointer;}
.edit-game:hover {background-color: #D6F5FF;}

//    .round strong,  .round strong span.seed,  .round strong span.score {
//      color: #4aa5ef;
//    }

//    .round6 strong,  .round6 strong span.seed,  .round6 strong span.score {
//      color: #c52000;
//    }

.games-controller {
  &.index-action {
    .tie-breaker {
      display: none;
    }
  }
}