.pools-controller {
  &.index-action {
    .pool {
      @include clearfix;
      padding: 20px;
      background-color: $light-gray;
      width: 100%;
      margin-bottom: 25px;

      ul {
        @include span-columns(6 of 8);
      }

      .name {
        font-size: larger;
        font-weight: bold;
      }

      .invite-code {
        @include span-columns(2 of 8);
        @include omega;

        padding-top: 30px;

        .code {
          font-weight: bold;
        }
      }
    }
  }

  &.invite_code-action {
    .wrapper {
      text-align: left;
      width: 200px;
    }
  }

  &.rules-action, &.payments-action {
    h2 {
      font-size: $base-font-size * 2;
    }

    h3 {
      font-size: $base-font-size * 1.5;
      padding-top: 35px;

      &.first {
        padding-top: 0;
      }
    }

    ol {
      padding: 15px 0 0 50px;
      @extend %default-ol;
    }
  }
}