.pools {
  a {
    color: $dark-gray;
    display: block;
  }
  margin: $gutter 0;


  .pool {
    width: 100%;
    padding: ($gutter/2) 0;
    border-top: 1px solid $medium-gray;


    &:last-child {
      border-bottom: 1px solid $medium-gray;
    }

    ul {
      margin: 0 $gutter;
    }

    .name {
      font-weight: bold;
      font-size: large;
      color: $action-color;
    }

    .tournament-name {
      font-size: small;
    }

    .admins, .brackets {
      display: none;
    }

    .invite-code {
      font-size: small;

      .code {
        font-weight: bold;
      }
    }
  }
}

.pools-controller {
  &.invite_code-action {
    #content {
      text-align: center;
    }

    .wrapper {
      display: inline-block;
      text-align: center;
      width: 200px;
    }
  }

  &.rules-action, &.payments-action {
    h2 {
      font-size: $base-font-size * 2;
    }

    h3 {
      font-size: $base-font-size * 1.5;
      padding-top: 35px;

      &.first {
        padding-top: 0;
      }
    }

    ol {
      padding: 15px 0 0 50px;
      @extend %default-ol;
    }
  }
}