%p
  Hello #{@user.name},
%p
  Looks like you started a bracket but some of the picks are absent or the tiebreaker score is missing. Just a reminder
  that all brackets must be completed and paid for by tip off tomorrow (Noon EST). All unpaid or incomplete brackets
  = succeed "." do
    %b will be deleted at tip off tomorrow
%p
  Just head to your #{link_to 'bracket detail page', bracket_url(@bracket)} and finish filling out your bracket.
  Tournament starts tomorrow!
%p
  Good Luck,
  %br/
  John, Jason and Chris Haruska
