$match-width: 150px;

.brackets-controller {
  &.show-action {
    .wrapper {
      margin: 75px 0 !important;
      vertical-align: text-top;
      width: 100vw;
      height: 100vh;
      overflow: auto;
    }

    .bracket {
      margin: 0;

      width: $match-width * 8;

      .bracket-body {
        height: 3200px;

        @include transition(all 0.5s ease-in);

        .round1 {
          .slot-content {
            padding: 0 5px;
            &:before {
              content: "" !important;
            }

            .seed:before {
              content: "" !important;
            }
          }
        }

        .match {
          border: {
            top: 2px solid #444;
            right: 2px solid #444;
          }

          margin: 0;
          padding: 0;
          width: $match-width;

          .slot {
            margin: 0;
            height: 50%;
            position: relative;
          }

          .slot-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -2px;

            &:before {
              content: "\2022\2022";
              font-size: 11px;
              color: #CCC;
            }

            .seed:before {
                content: "\003e\00a0";
                font-size: 15px;
                color: #CCC;
              }

          }

          .slot2 {
            border-top: 2px dotted #CCCCCC;
          }

          .seed {
            color: #777;
          }

          .winner, .winner em {
            font-weight: bold;
          }
        }

        .championship {
          display: inline-block;
          width: $match-width * 1.5;
          height: 100%;
          padding: 0;
          margin: 0;
          margin-left: -5px;
          vertical-align: text-top;
          position: relative;

          &:after {
            position: absolute;
            display: block;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 1px;
            content: "\2022\2022\003e\00a0";
            font-size: 11px;
            color: #CCC;
          }
        }

        .championship-content {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        .championship-wrapper {
          display: inline-block;
          margin-left: 20px;
          padding: 5px;
        }

        .champion-label {
          width: $match-width;
          text-align: center;
        }

        .champion-box {
          width: $match-width;
          text-align: center;
          border-top: 2px solid #444;
        }

        .final_pick {
          font-size: 16px;
          background: #fff;
        }

        .loser {
          font-weight: normal;
          color: #777777;
          text-decoration: line-through;
        }

        .tie-breaker {
          display: none;
        }

        .round {
          display: inline-block;
          vertical-align: text-top;
          height: 100%;
          margin-left: -5px;

          &.round1 {
            margin-left: 0;
          }

          .region {
            height: 25%;

            &:last-of-type {
              .match:last-of-type {
                border-bottom: 2px solid #444;
              }
            }
          }

          &.round5, &.round6 {
            .match:last-of-type {
              border-bottom: 2px solid #444;
            }
          }
        }

        $base-match-height: 12.5%;

        .round1 .match { height: $base-match-height * 1; }
        .round2 .match { height: $base-match-height * 2; }
        .round3 .match { height: $base-match-height * 4; }
        .round4 .match { height: $base-match-height * 8; }
        .round5 .match { height: $base-match-height * 4; }
        .round6 .match { height: $base-match-height * 8; }
      }
    }
  }
}
