$match-width: 150px;

.brackets-controller {
  &.show-action {
    .wrapper {
      margin: 25px 0 !important;
      vertical-align: text-top;
      width: 100vw;
      height: 100vh;
      overflow: auto;
    }

    .bracket {
      margin: 0;

      width: $match-width * 6;

      .bracket-body {
        height: 3200px;

        @include transition(all 0.5s ease-in);

        .round1 {
          .slot-content {
            padding: 0 5px;
            &:before {
              content: "" !important;
            }

            .seed:before {
              content: "" !important;
            }
          }
        }

        .match {
          border: {
            top: 2px solid #444;
            right: 2px solid #444;
          }

          margin: 0;
          padding: 0;
          width: $match-width;

          .slot {
            margin: 0;
            height: 50%;
            position: relative;
          }

          .slot-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin-top: -2px;

            &:before {
              content: "\2022\2022";
              font-size: 11px;
              color: #CCC;
            }

            .seed:before {
                content: "\003e\00a0";
                font-size: 15px;
                color: #CCC;
              }

          }

          .slot1 {

          }

          .slot2 {
            border-top: 2px dotted #CCCCCC;
          }

          .seed {
            color: #777;
          }

          .winner, .winner em {
            font-weight: bold;
          }
        }

        .championship {
          display: none;
          position: absolute;
          left: 395px;
          top: 535px;
          width: 150px;
          height: 75px;
          padding: 0;
          border: none;

          div {
            height: 25px;
            line-height: 25px;
            text-align: center;

            &.champion-box {
              top: 22px;
              font-size: 13px;
              font-weight: bolder;
              padding: 0 10px 0 6px;
              border: 2px solid #666;
            }

            &.champion-label {
              top: 40px;
              font-size: 16px;
              font-weight: bold;
              padding-top: 5px;
            }
          }

        }

        .final_pick {
          font-size: 16px;
          background: #fff;
        }

        .loser {
          font-weight: normal;
          color: #777777;
          text-decoration: line-through;
        }

        .tie-breaker {
          display: none;
          position: absolute;
          left: 418px;
          top: 600px;
        }

        $base-match-height: 12.5%;

        .round {
          display: inline-block;
          vertical-align: text-top;
          height: 100%;
          margin-left: -5px;

          .region {
            height: 25%;

            &:last-of-type {
              .match:last-of-type {
                border-bottom: 2px solid #444;
              }
            }
          }

          &.round5, &.round6 {
            .match:last-of-type {
              border-bottom: 2px solid #444;
            }
          }
        }



        .round1 {
          margin-left: 0;

          .match {
            height: $base-match-height;
          }

          .slot {
            //line-height: 39px;
          }
        }

        .round2 {
          .match {
            height: $base-match-height * 2;
          }

          .slot {
            //line-height: 78px;
          }
        }

        .round3 {
          .match {
            height: $base-match-height * 4;
          }

          .slot {
            //line-height: 158px;
          }
        }

        .round4 {
          .match {
            height: $base-match-height * 8;
          }

          .slot {
          }
        }

        .round5 {
          .match {
            height: 50%;
          }

          .slot {
          }
        }

        .round6 {
          .match {
            height: 100%;
          }

          .slot {
          }
        }
      }
    }
  }
}